
<div class="container margin-top50">
  <%= form_for @student  do |f| %>
    <div class=" margin-top10 form">
      <%= f.label :Nombre %>
      <%= f.text_field :name %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Apellido %>
      <%= f.text_field :last_name %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Direccion %>
      <%= f.text_field :address %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Numero  %>
      <%= f.text_field :number_address %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Manzana %>
      <%= f.text_field :apple_address %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Codigo %>
      <%= f.text_field :code %>
    </div>



      <%= f.submit "Enviar" ,class:"button buttonForm" %>

  <% end %>


</div>
