
<div class="container margin-top50">
  <%= form_for @student  do |f| %>
    <div class=" margin-top10 form">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :code %>
      <%= f.text_field :code %>
    </div>



      <%= f.submit "Enviar" ,class:"button buttonForm" %>

  <% end %>

</div>
