
<div class="head ">
  <div class="container headList">
    <h1>Lista de Estudiantes</h1>
    <%= link_to new_student_path, class:"white" do %>
      <i class="fa fa-plus-circle addStudent"></i> Nuevo
    <% end %>

  </div>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Numero</th>
        <th>Manzana</th>
        <th>Código</th>
        <th>opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |f| %>
        <tr>
          <td><%= f.name%> </td>
          <td><%= f.last_name%> </td>
          <td><%= f.address%> </td>
          <td><%= f.number_address%> </td>
          <td><%= f.apple_address%> </td>
          <td><%= f.code%> </td>
          <td class="option">
            <%= link_to  student_path(id:f.id) do %>
              <i class="fas fa-eye show"></i>
            <% end %>
            <%= link_to  edit_student_path(f) do  %>
              <i class="fa fa-edit edit"></i>
            <% end %>
            <%= link_to  student_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } do %>
              <i class="fas fa-trash remove"></i>
            <% end %>
          </td>

        </tr>
      <%end%>

    </tbody>
  </table>
</div>
