<h1>Lista de Estudiantes</h1>
<p><%= link_to 'nuevo', new_student_path %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Código</th>
      <th>opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |f| %>
      <tr>
        <td><%= f.name%> </td>
        <td><%= f.last_name%> </td>
        <td><%= f.address%> </td>
        <td><%= f.code%> </td>
        <td>
          <p><%= link_to 'Ver', student_path(f) %></p>
          <p><%= link_to 'Editar', edit_student_path(f) %></p>
          <p><%= link_to 'Eliminar', student_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } %></p>
        </td>

      </tr>
    <%end%>

  </tbody>
</table>
