<div class="head" >
  <div class="container headList">
    <h1>Nuevo Estudiante</h1>
  </div>
</div>

<div class="container margin-top50">
  <%= form_for(@student) do |f|%>
    <div class="margin-top10 form">
      <%= f.label :nombre %>
      <%= f.text_field :name %>
    </div>
    <div class=" margin-top10 form">
      <%= f.label :Apellido %>
      <%= f.text_field :last_name %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Direccion %>
      <%= f.text_field :address, id:"pac-input-autocomplete"  %>

    </div>
    <div class=" margin-top10 form">
      <%= f.label :Numero  %>
      <%= f.text_field :number_address %>
    </div>
    <div class=" margin-top10 form">
      <%= f.label :Manzana  %>
      <%= f.text_field :apple_address %>
    </div>
    <div class="margin-top10 form">
        <%= f.label :Codigo %>
        <%= f.text_field :code %>
    </div>
    <%= f.submit "Crear Estudiante", class:"buttonCrear buttonForm"%>

  <%end%>
  <p class="button"><%= link_to 'regresar', students_path  ,class:"white"%></p>
  <input type="text" id="pac-input" placeholder="Busca tu dirección">
  <div id="map2" class="map-search margin-bottom-50"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxU9Z0c2gm5oEg64_FYukuJLhMHoKe_TY&libraries=places&callback=initAutocomplete"></script>
</div>
