<div class="head" >
  <div class="container headList">
    <h1>Nuevo Estudiante</h1>
  </div>
</div>
<div class="container margin-top50">
  <%= form_for(@student) do |f|%>
    <div class="margin-top10 form">
      <%= f.label :nombre %>
      <%= f.text_field :name %>
    </div>
    <div class=" margin-top10 form">
      <%= f.label :Apellido %>
      <%= f.text_field :last_name %>
    </div>
    <div class="margin-top10 form">
      <%= f.label :Direccion %>
      <%= f.text_field :address %>

    </div>
    <div class="margin-top10 form">
        <%= f.label :Codigo %>
        <%= f.text_field :code %>
    </div>
    <%= f.submit class:"buttonCrear buttonForm" , value:"Crear Estudiante "%>

  <%end%>
  <p class="button"><%= link_to 'regresar', students_path  ,class:"white"%></p>


</div>
