<div class="head" >
  <div class="container headList">
    <h1>Estudiante</h1>
  </div>
</div>
<div class="container">

  <p>
    <strong class="subtitle">Name:</strong>
    <%= @student.name %>
  </p>
  <p>
    <strong class="subtitle">Apellido:</strong>
    <%= @student.last_name %>
  </p>
  <p>
    <strong class="subtitle">Direccion:</strong>
    <%= @student.address %>
  </p>
  <p>
    <strong class="subtitle">Codigo:</strong>
    <%= @student.code %>
  </p>

  <% if @student.latitude.nil? || @student.longitude.nil? %>
    <p>No pudimos geolocalizarte, intenta editar tu dirección</p>
  <% else %>
    <div id="map-geolocation" class="map-geolocation" data-lat="<%= @student.latitude %>" data-lng="<%= @student.longitude %>">
    </div>
  <% end %>
  <p class="button"><%= link_to 'Regresar', students_path ,class:"white" %></p>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAxU9Z0c2gm5oEg64_FYukuJLhMHoKe_TY">
  </script>

</div>
