
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p>
  <strong>Apellido:</strong>
  <%= @student.last_name %>
</p>
<p>
  <strong>Direccion:</strong>
  <%= @student.address %>
</p>
<p>
  <strong>Codigo:</strong>
  <%= @student.code %>
</p>
<p><%= link_to 'regresar', students_path %></p>
